{{> navbar loggedInUser=loggedInUser }}
<div id="profile">
   <div class="container">

    
            <div class="row">
              <div class="col-md-4 col-sm-12 d-inline-block px-auto">
                  
                  <img src="../assets/images/dogecodes.jpg" class="card-img-top" alt="User Profile Picture">
                
              </div>
                <div class="col-md-8 col-sm-12 user-info">
                  
                    <h4><span>{{user.firstName}}</span> <span>{{user.lastName}}</span></h4>
                    <h4><span>{{user.email}}</span></h4>
                    <h4><span>{{user.birthdate}}</span></h4>

                    <div class="user-bio mt-5">
                        <h2>About Me</h2>
                        <p>{{user.bio}}</p>
                    
                      
        
                    </div>
                 
                </div>
              
              
              
           
          
  </div>
</div>

    <!--End of content-->
</div>
